/* This file contains the styles for the HTML elements in the index.html file. */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto&display=swap');

/* Global styles */

:root {
    /* Light Colors */
    --theme-bg-background: #f5fcff;
    --main-color-900: #00113e;
    --main-color-800: #00185a;
    --main-color-500: #002ead;
    --main-color-50: #b8c4e8;
    --theme-bg-boxBackground: #ffffff;

    /* Dark Colors */

    --theme-dark-bg-background: #110f0f;
    --main-dark-color-900: #0c4126;
    --main-dark-color-800: #115e37;
    --main-dark-color-500: #20b46a;
    --main-dark-color-50: #c1ead5;
    --theme-dark-bg-boxBackground: #e8f8ff;

    /* Font family */
    --font: 'Roboto', sans-serif;

    /* Font sizes */
    --heading-3: 2.1rem;

    /* Spaces for border radius */

    --medium: 0.8rem;
    --small: 0.4rem;

    /* Margins and paddings */

    --Xlarge: 2.4rem;
    --Large: 2rem;
    --Medium: 1.6rem;
    --Regular: 1.2rem;
    --Small: 0.8rem;
    --Xsmall: 0.6rem;
}

/* Base styling for the card component */

*::before,
*::after,
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: var(--font);
    font-size: var(--Medium);
    line-height: var(--Large);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
/*------------------------------------ 

Light Theme colours

 **************************************/
body.light-theme {
    background-color: var(--theme-bg-background);
    color: var(--main-color-900);
}
body.light-theme > .cardComponent {
    background-color: var(--theme-bg-boxBackground);
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); */
    border: 1px solid var(--main-color-50);
}
body.dark-theme > .cardComponent > .mainContent > .textContent > .heading-3 {
    color: var(--main-color-800);
}
body.light-theme > .cardComponent > .mainContent button {
    background-color: var(--main-color-500);
    color: var(--theme-bg-background);
}
body.light-theme > .cardComponent > .mainContent button:hover {
    background-color: var(--main-color-50);
    color: var(--main-color-900);
}

body.light-theme > .cardComponent > .mainContent button:hover svg {
    fill: var(--main-color-900);
}

/*------------------------------------ 

Dark Theme colours

 **************************************/
body.dark-theme {
    background-color: var(--theme-dark-bg-background);
}
body.dark-theme > .cardComponent {
    background-color: var(--theme-dark-bg-boxBackground);
    border: 1px solid var(--main-color-50);
}
body.dark-theme > .cardComponent > .mainContent > .textContent > .heading-3 {
    color: var(--main-dark-color-800);
}
body.dark-theme > .cardComponent > .mainContent > .textContent p {
    color: var(--main-dark-color-900);
}
body.dark-theme > .cardComponent > .mainContent button {
    background-color: var(--main-dark-color-500);
    color: var(--theme-dark-bg-background);
}
body.dark-theme > .cardComponent > .mainContent button svg {
    fill: var(--theme-dark-bg-background);
}
body.dark-theme > .cardComponent > .mainContent button:hover {
    background-color: var(--main-dark-color-50);
    color: var(--theme-dark-bg-background);
}
body.dark-theme > .cardComponent > .mainContent button:hover svg {
    fill: var(--theme-dark-bg-background);
}

/*------------------------------------ 

Card Component

 **************************************/

.cardComponent {
    border-radius: var(--medium);
    overflow: hidden;
    width: 100%;
    /* Maximum width to maintain readability */
    margin: 0 auto; /* Center the card if the viewport is wider */
}
.cardComponent .imgCard {
    width: 100%; /* Initially full width for mobile */
    height: 32.2rem;
    overflow: hidden;
}
.cardComponent .imgCard img {
    transition: all 0.5s ease;
    width: 100%; /* Initially full width for mobile */
    object-fit: cover;
    height: 100%;
}

.cardComponent .imgCard:hover img {
    transform: scale(1.1);
}
.cardComponent .mainContent {
    display: flex;
    padding: 0rem var(--Medium) var(--Xlarge) var(--Medium);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Xlarge);
    margin-top: var(--Xlarge);
}

.mainContent .heading-3 {
    font-size: var(--heading-3);
    line-height: 2.6rem;
}
.cardComponent .textContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Medium);
}
.mainContent button {
    display: flex;
    border: none;
    padding: var(--Small);
    border-radius: var(--small);
    transition: background-color 0.2s ease;
    cursor: pointer;
    align-items: center;
    gap: var(--Small);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    text-transform: capitalize;
}

.mainContent button:focus {
    outline: 2px solid #db1717; /* Change the color if is necessary */
    outline-offset: 2px;
}

/*------------------------------------ 

Responsiveness

 **************************************/
@media (min-width: 700px) {
    /* Adjustments for tablet and above */
    article.cardComponent {
        width: 36rem; /* Allow some space on the sides on tablets */
    }
}

@media (min-width: 1024px) {
    /* Adjustments for desktop */
    article.cardComponent {
        width: 44rem; /* Even more space on the sides for wider screens */
    }
}
